html,
body {
    font-family: "Josefin Sans", sans-serif;
    margin: 0;
    overflow: hidden;
    color: #ccf1ff;
    @include page-size;
    .app-wrapper {
        @include page-size;
        .app {
            @include page-size;
        }
    }
}

a {
    color: skyblue;
    text-decoration: none;
    padding: 5px;
}
