.navbar-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 10px;
    height: 100%;
    align-items: center;
    background-color: darkblue;
    color: #ccf1ff;

    .save-load-wrapper {
        display: grid;
        grid-template-columns: 1fr;

    }

    a {
        border: gray 3px solid;
        border-radius: 5px;

    }

    h4 {
        text-align: center;
    }
}